/*
 * Copyright 2013-2016 Boundary Devices, Inc.
 * Copyright 2011-2015 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License
 *     version 2 as published by the Free Software Foundation.
 *
 *     This file is distributed in the hope that it will be useful
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED , WITHOUT WARRANTY OF ANY KIND
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	iomuxc_imx6q_bat_tablet: iomuxc-imx6q-bat-tabletgrp {
		status = "okay";
	};
};

&iomuxc_imx6q_bat_tablet {
	pinctrl_audmux: audmuxgrp {
		fsl,pins = <
			MX6QDL_PAD_SD2_DAT0__AUD4_RXD		0x130b0
			MX6QDL_PAD_SD2_DAT3__AUD4_TXC		0x130b0
			MX6QDL_PAD_SD2_DAT2__AUD4_TXD		0x110b0
			MX6QDL_PAD_SD2_DAT1__AUD4_TXFS		0x130b0
		>;
	};

	pinctrl_backlight_lvds: backlight-lvdsgrp {
		fsl,pins = <
		>;
#define GP_BACKLIGHT_LVDS_ENABLE		<&tca6424 6 GPIO_ACTIVE_HIGH>
#define GP_REGULATOR_BACKLIGHT_LVDS		<&tca6424 13 GPIO_ACTIVE_HIGH>
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D17__ECSPI1_MISO		0x100b1
			MX6QDL_PAD_EIM_D18__ECSPI1_MOSI		0x100b1
			MX6QDL_PAD_EIM_D16__ECSPI1_SCLK		0x000b1
#define GP_ECSPI1_NOR_CS	<&gpio3 19 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x0b0b1
		>;
	};

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
			MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
			MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x100b0
			MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x100b0
			MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x100b0
			MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x100b0
			MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x100b0
			MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x100b0
			MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x100b0
			MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b0b0
			MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x1b0b0
			MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x1b0b0
			MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b0b0
			MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b0b0
			MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x1b0b0
#define GP_ENET_PHY_RESET	<&gpio3 23 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_EIM_D23__GPIO3_IO23		0x030b0
#define GPIRQ_ENET_PHY		<&gpio1 28 IRQ_TYPE_LEVEL_LOW>
			MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28	0x1b0b0
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_ROW2__FLEXCAN1_RX	0x1b0b0
			MX6QDL_PAD_KEY_COL2__FLEXCAN1_TX	0x1b0b0
		>;
#define GP_FLEXCAN1_STANDBY	<&tca6424 18 GPIO_ACTIVE_LOW>
	};

	pinctrl_gpio_keys: gpio-keysgrp {
		fsl,pins = <
#define GP_GPIOKEY_POWER	<&gpio2 4 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D4__GPIO2_IO04		0x1b0b0
#define GP_GPIOKEY_SLEEP	<&gpio2 3 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_D3__GPIO2_IO03		0x1b0b0
#define GP_GPIOKEY_VOL_UP	<&gpio7 13 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_18__GPIO7_IO13		0x1b0b0
#define GP_GPIOKEY_VOL_DN	<&gpio4 5 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x1b0b0
		>;
	};

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX6QDL_PAD_NANDF_D7__GPIO2_IO07		0x1b0b0		/* Spare */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D21__I2C1_SCL		0x4001b8b1
			MX6QDL_PAD_EIM_D28__I2C1_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c1_1: i2c1_1grp {
		fsl,pins = <
#define GP_I2C1_SCL	<&gpio3 21 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D21__GPIO3_IO21		0x4001b8b1
#define GP_I2C1_SDA	<&gpio3 28 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D28__GPIO3_IO28		0x4001b8b1
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX6QDL_PAD_KEY_COL3__I2C2_SCL		0x4001b8b1
			MX6QDL_PAD_KEY_ROW3__I2C2_SDA		0x4001b8b1
		>;
	};

	pinctrl_i2c2_1: i2c2_1grp {
		fsl,pins = <
#define GP_I2C2_SCL	<&gpio4 12 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_COL3__GPIO4_IO12		0x4001b8b1
#define GP_I2C2_SDA	<&gpio4 13 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_KEY_ROW3__GPIO4_IO13		0x4001b8b1
		>;
	};

	pinctrl_i2c2_adau1761: i2c2-adau1761grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_0__CCM_CLKO1		0x000b0		/* sys_mclk */
		>;
#define GP_ADAU1761_HP_DETECT <&tca6424 5 GPIO_ACTIVE_HIGH>
	};

	pinctrl_i2c2_ov5640_mipi_1: i2c2-ov5640-mipi-1grp {
		fsl,pins = <
#define GP_OV5640_MIPI_1_POWER_DOWN	<&gpio6 9 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x0b0b0
		>;
#define GP_OV5640_MIPI_1_RESET		<&tca6424 16 GPIO_ACTIVE_LOW>
	};

	pinctrl_i2c2_ov5640_mipi_2: i2c2-ov5640-mipi-2grp {
		fsl,pins = <
#define GP_OV5640_MIPI_2_POWER_DOWN	<&gpio2 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_NANDF_D5__GPIO2_IO05		0x0b0b0
		>;
#define GP_OV5640_MIPI_2_RESET		<&tca6424 17 GPIO_ACTIVE_LOW>
	};

	pinctrl_i2c2_lis331dlh: i2c2-lis331dlhgrp {
		fsl,pins = <
		>;
#define GP_REGULATOR_LIS331DLH		<&tca6424 11 GPIO_ACTIVE_HIGH>
#define GP_LIS331DLH_INT1			<&tca6424 0 GPIO_ACTIVE_HIGH>
#define GP_LIS331DLH_INT2			<&tca6424 1 GPIO_ACTIVE_HIGH>
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__I2C3_SCL		0x4001b8b1
			MX6QDL_PAD_GPIO_16__I2C3_SDA		0x4001b8b1
#define GPIRQ_I2C3_J7	<&gpio1 9 IRQ_TYPE_EDGE_FALLING>
#define GP_I2C3_J7	<&gpio1 9 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0		/* I2C3 J7 interrupt */
		>;
	};

	pinctrl_i2c3_1: i2c3_1grp {
		fsl,pins = <
#define GP_I2C3_SCL	<&gpio1 5 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x4001b8b1
#define GP_I2C3_SDA	<&gpio7 11 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x4001b8b1
		>;
	};

	pinctrl_i2c3_tca6424: i2c3-tca6424grp {
		fsl,pins = <
#define GP_TCA6424_INT		<&gpio2 2 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D2__GPIO2_IO02		0x1b0b0
		>;
	};

	pinctrl_ldb: ldbgrp {
		fsl,pins = <
		>;
#define GP_LDB_ENABLE		<&tca6424 7 GPIO_ACTIVE_HIGH>
	};

	pinctrl_pwm3: pwm3grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_DAT1__PWM3_OUT		0x1b0b1
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX6QDL_PAD_SD1_CMD__PWM4_OUT		0x1b0b1
		>;
	};

	pinctrl_reg_usbotg_vbus: reg-usbotg-vbusgrp {
		fsl,pins = <
#define GP_REG_USBOTG	<&gpio3 22 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_EIM_D22__GPIO3_IO22		0x030b0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA	0x1b0b1
			MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D26__UART2_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D27__UART2_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX6QDL_PAD_EIM_D24__UART3_TX_DATA	0x1b0b1
			MX6QDL_PAD_EIM_D25__UART3_RX_DATA	0x1b0b1
		>;
	};

	pinctrl_usbh1: usbh1grp {
		fsl,pins = <
#define GP_USBH1_HUB_RESET	<&gpio7 12 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x0b0b0
		>;
	};

	pinctrl_usbotg: usbotggrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_1__USB_OTG_ID		0x17059
			MX6QDL_PAD_KEY_COL4__USB_OTG_OC		0x1b0b0
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX6QDL_PAD_SD3_CMD__SD3_CMD		0x17059
			MX6QDL_PAD_SD3_CLK__SD3_CLK		0x10059
			MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
			MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17059
			MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17059
			MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17059
#define GP_USDHC3_CD	<&gpio7 0 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_SD3_DAT5__GPIO7_IO00		0x1b0b0
#define GP_USDHC3_WP	<&gpio7 1 GPIO_ACTIVE_HIGH>
			MX6QDL_PAD_SD3_DAT4__GPIO7_IO01		0x1b0b0
		>;
	};

	pinctrl_usdhc4: usdhc4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x17059
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x10059
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
#define GP_USDHC4_CD	<&gpio2 6 GPIO_ACTIVE_LOW>
			MX6QDL_PAD_NANDF_D6__GPIO2_IO06		0x1b0b0
		>;
	};
};

/ {
	aliases {
		backlight_lvds = &backlight_lvds;
		fb_hdmi = &fb_hdmi;
		fb_lvds = &fb_lvds;
		ldb = &ldb;
		mmc0 = &usdhc3;
		mmc1 = &usdhc4;
		mmc2 = &usdhc2;
		mxcfb0 = &fb_lvds;
		mxcfb1 = &fb_hdmi;
		pwm_lvds = &pwm4;
		t_lvds = &t_lvds;
		rtc0 = &rtc;
		rtc1 = &snvs_rtc;
	};

	backlight_lvds: backlight_lvds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_lvds>;
		brightness-levels = <1 2 3 4 5 6 7 8 9 10>;
		compatible = "pwm-backlight";
		default-brightness-level = <8>;
		display = <&fb_lvds>;
		power-supply = <&reg_backlight_lvds>;
		pwms = <&pwm4 0 5000000>;
		enable-gpios = GP_BACKLIGHT_LVDS_ENABLE;
		status = "okay";
	};

	chosen {
		stdout-path = &uart2;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	fb_lvds: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	fb_hdmi: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1280x720M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		sleep {
			label = "Sleep";
			gpios = GP_GPIOKEY_SLEEP;
			linux,code = <KEY_SLEEP>;
		};

		power {
			label = "Power";
			gpios = GP_GPIOKEY_POWER;
			linux,code = <KEY_POWER>;
			gpio-key,wakeup;
		};

		volume-down {
			label = "Volume Down";
			gpios = GP_GPIOKEY_VOL_DN;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volume-up {
			label = "Volume Up";
			gpios = GP_GPIOKEY_VOL_UP;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	leds {
		compatible = "gpio-leds";

		pwr_nfc {
			label = "pwr_nfc";
			gpios = <&tca6424 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "none";
		};

		pwr_adau1761 {
			label = "pwr_adau1761";
			gpios = <&tca6424 9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "none";
		};

		pwr_pam8406dr {
			label = "pwr_pam8406dr";
			gpios = <&tca6424 10 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "none";
		};

		pwr_gps {
			label = "pwr_gps";
			gpios = <&tca6424 12 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "none";
		};

		/*
		pwr_sata3p3v {
			label = "pwr_sata_3p3v";
			gpios = <&tca6424 14 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "none";
		};

		pwr_sata5p0v {
			label = "pwr_sata_5p0v";
			gpios = <&tca6424 15 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "none";
		};
		*/
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	mipi_mclk: mipi_mclk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <22000000>;
		clock-output-names = "mipi_mclk";
		pwms = <&pwm3 0 45>; /* 1 / 45 ns = 22 MHz */
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1p8v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "1P8V";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		reg_2p5v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_5p0v: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "5P0V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};

		reg_usb_otg_vbus: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 22 0>;
			enable-active-high;
		};

		reg_backlight_lvds: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "backlight_lvds_3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			gpio = GP_REGULATOR_BACKLIGHT_LVDS;
			enable-active-high;
			startup-delay-us = <100000>;
			vin-supply = <&reg_3p3v>;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};

		reg_sata_3p3v: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "sata_3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			/* regulator-boot-on; */
			gpio = <&tca6424 14 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			/* startup-delay-us = <10000000>; */
			vin-supply = <&reg_3p3v>;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};

		reg_sata_5p0v: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "sata_5P0V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			/* regulator-boot-on; */
			gpio = <&tca6424 15 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			/* startup-delay-us = <10000000>; */
			vin-supply = <&reg_5p0v>;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};

		reg_lis331dlh: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "lis331dlh_3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			gpio = GP_REGULATOR_LIS331DLH;
			enable-active-high;
			startup-delay-us = <100000>;
			vin-supply = <&reg_3p3v>;
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};
	};

	sound {
		compatible = "fsl,imx6q-adau1761",
			         "fsl,imx-audio-adau1761";
		model = "imx-adau1761";
		ssi-controller = <&ssi1>;
		audio-codec = <&codec>;
		asrc-controller = <&asrc>;
		codec-master;
		mux-int-port = <1>;
		mux-ext-port = <4>;
		audio-routing =
			"LAUX", "In 3-4",
			"RAUX", "In 3-4",
			"LINP", "In 1",
			"LINN", "In 1",
			"RINP", "In 2",
			"RINN", "In 2",
			"In 1", "MICBIAS",
			"In 2", "MICBIAS",
			"Capless HP Out", "LHP",
			"Capless HP Out", "RHP",
			"Diff Out L", "LOUT",
			"Diff Out R", "ROUT",
			"Stereo Out", "LOUT",
			"Stereo Out", "ROUT";
	};

	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	v4l2_cap_0: v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_1: v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_2: v4l2_cap_2 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_3: v4l2_cap_3 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mipi_camera = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	trx-stby-gpio = GP_FLEXCAN1_STANDBY;
	status = "okay";
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = GP_ECSPI1_NOR_CS;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	flash: m25p80@0 {
		compatible = "sst,sst25vf016b", "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		mtd@00000000 {
			label = "U-Boot";
			reg = <0x0 0xC0000>;
		};
		mtd@000C0000 {
			label = "env";
			reg = <0xC0000 0x2000>;
		};
		mtd@000C2000 {
			label = "splash";
			reg = <0xC2000 0x13e000>;
		};
	};
};

&fec {
	phy-handle = <&ethphy>;
	phy-mode = "rgmii";
#if 0
	phy-reset-gpios = GP_ENET_PHY_RESET;
#endif
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	rxc-skew-ps = <3000>;
	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	rxdv-skew-ps = <0>;
	txc-skew-ps = <3000>;
	txd0-skew-ps = <0>;
	txd1-skew-ps = <0>;
	txd2-skew-ps = <0>;
	txd3-skew-ps = <0>;
	txen-skew-ps = <0>;
	status = "okay";

	mdio {
		#address-cells = <0>;
		#size-cells = <1>;

		ethphy: ethernet-phy {
			interrupts-extended = GPIRQ_ENET_PHY;
		};
	};
};

&hdmi_audio {
	status = "okay";
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video {
	fsl,phy_reg_vlev = <0x0294>;
	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_1>;
	scl-gpios = GP_I2C1_SCL;
	sda-gpios = GP_I2C1_SDA;
	status = "okay";

	lis331dlh@1d {
		compatible = "st,lis331dlh", "st,lis3lv02d";
		reg = <0x1d>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_lis331dlh>;

		Vdd-supply = <&reg_lis331dlh>;
		Vdd_IO-supply = <&reg_lis331dlh>;
		interrupts-extended = GP_LIS331DLH_INT1, GP_LIS331DLH_INT2;

		st,click-single-x;
		st,click-single-y;
		st,click-single-z;
		st,click-thresh-x = <10>;
		st,click-thresh-y = <10>;
		st,click-thresh-z = <10>;
		st,irq1-click;
		st,irq2-click;
		st,wakeup-x-lo;
		st,wakeup-x-hi;
		st,wakeup-y-lo;
		st,wakeup-y-hi;
		st,wakeup-z-lo;
		st,wakeup-z-hi;
		st,min-limit-x = <120>;
		st,min-limit-y = <120>;
		st,min-limit-z = <140>;
		st,max-limit-x = <550>;
		st,max-limit-y = <550>;
		st,max-limit-z = <750>;
	};

	rtc: pcf8523@68 {
		compatible = "nxp,pcf8523";
		reg = <0x68>;
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_1>;
	scl-gpios = GP_I2C2_SCL;
	sda-gpios = GP_I2C2_SDA;
	status = "okay";

	codec: adau1761@38 {
		compatible = "adi,adau1761";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_adau1761>;
		clocks = <&clks IMX6QDL_CLK_CKO>;
		/* wlf,shared-lrclk; */
	};

	edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

	ov5640_mipi_1: ov5640_mipi_1@3c {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3c>;
		status = "disabled"; /* TODO: ON */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_ov5640_mipi_1>;
		clocks = <&mipi_mclk>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = GP_OV5640_MIPI_1_POWER_DOWN;
		rst-gpios = GP_OV5640_MIPI_1_RESET;
		ipu_id = <0>;
		csi_id = <1>;
		mclk = <22000000>;
		mclk_source = <0>;
	};

	ov5640_mipi_2: ov5640_mipi_2@3e {
		compatible = "ovti,ov5640_mipi";
		reg = <0x3e>;
		status = "disabled"; /* TODO: ON */
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_ov5640_mipi_2>;
		clocks = <&mipi_mclk>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_1p8v>;
		AVDD-supply = <&reg_2p5v>;
		DVDD-supply = <&reg_1p8v>;
		pwn-gpios = GP_OV5640_MIPI_2_POWER_DOWN;
		rst-gpios = GP_OV5640_MIPI_2_RESET;
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <22000000>;
		mclk_source = <0>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_1>;
	scl-gpios = GP_I2C3_SCL;
	sda-gpios = GP_I2C3_SDA;
	status = "okay";

	tca6424: tca6424@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c3_tca6424>;
		interrupt-parent = GP_TCA6424_INT;
		interrupts = <2 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "irq";

		gpio-controller;
		#gpio-cells = <2>;

		interrupt-controller;
		#interrupt-cells = <2>;
	};
};

&ldb {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ldb>;
	status = "okay";
	enable-gpios = GP_LDB_ENABLE;

	lvds-channel@0 {
		crtc = "ipu1-di1";
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";
		primary;

		display-timings {
			t_lvds: t_lvds_default {
				/* amp1024x600 values may be changed in bootscript */
				clock-frequency = <51450000>;
				hactive = <1024>;
				vactive = <600>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;
			};
		};
	};
};

&mipi_csi {
	lanes = <2>;
	status = "okay";
};

&pcie {
	status = "okay";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&ssi1 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&ssi2 {
	fsl,mode = "i2s-slave";
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&usbh1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbh1>;
	disable-over-current;
	reset-gpios = GP_USBH1_HUB_RESET;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	disable-over-current;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	cd-gpios = GP_USDHC3_CD;
	wp-gpios = GP_USDHC3_WP;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	cd-gpios = GP_USDHC4_CD;
	vmmc-supply = <&reg_3p3v>;
	status = "okay";
};
